.section1{ width: 1200px; height: auto; margin: 0 auto;}





.section2{ width: 1200px; height: auto; display: block; margin: 0 auto;}
.section2 #d{font-size: 16px; color:#28080a; width: 1000px; height: 100px; display: block; margin:-120px auto;
	opacity: 1; left:-1200px; top:-700px; position: absolute; }
.section2:hover #d{top:200px; transition: all ease 1s; left:200px;}

.section3{ width: 1200px; height: auto; display: block; margin: 0 auto;}
.section3 #c{ font-size: 16px; color:#28080a; width: 1000px; height: 100px; display: block; margin:-100px auto;
	opacity: 1; left:-1200px; top:-900px; position: absolute; }
.section3:hover #c{top:200px; transition: all ease 1s; left:200px;}
.section3 #book{
	background: url("../images/book.png") no-repeat;
	position: absolute;
	width: 830px;
	height: 260px;
	left: 20%;
	top: 50%;
}
#pages section {
	background: url("../images/paper.png") no-repeat;
	display: block;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 250px;
		font-size: 12px;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}
#pageflip-canvas {
	position: absolute;
	z-index: 100;
}


.section4{ width: 1200px; height: auto; display: block; margin: 0 auto;}
.section4 #b{
	font-size: 16px; color:#28080a; width: 1000px; height: 100px; display: block; margin:50px auto;
	opacity: 1; left:-1200px; position: absolute;}
.section4:hover #b{
   left:200px; transition: all ease 1s;
}

.section5{ width: 1200px; height: auto; display: block; margin: 0 auto;}
.section5 #a{ font-size: 16px; color:#28080a; width: 1000px; height: 100px; display: block; margin:-220px auto;
     opacity: 1; left:-1200px; position: absolute;  }
.section5:hover #a{
					left:200px; transition: all ease 2s;
				}
   #wrapper {
					width: 950px;
					height: 450px;
					margin: -130px 0 0 -475px;
					position: absolute;
					top: 50%;
					left: 50%;
				}
   #carousel-left,
   #carousel-right {
					width: 450px;
					height: 325px;
					overflow: hidden;
					position: absolute;
					top: 65px;
					z-index: 1;
				}
   #carousel-left {
					left: 25px;
				}
   #carousel-right {
					right: 25px;
				}
   #carousel-center {
					width: 550px;
					height: 400px;
					overflow: hidden;
					position: absolute;
					top: 25px;
					left: 200px;
					z-index: 2;
				}
	.caroufredsel_wrapper {
					box-shadow: 0 0 10px rgba( 0, 0, 0, 0.3 );
				}
	.caroufredsel_wrapper img {
					display: block;
					float: left;
				}
	#prev,
	#next {
					color: #fff;
					font-size: 70px;
					font-weight: bold;
					text-align: center;
					text-decoration: none;
					text-shadow: 0 1px 2px rgba( 0, 0, 0, 0.6 );
					line-height: 45px;
					display: block;
					margin-top: -15px;
					position: absolute;
					top: 50%;
					z-index: 0;
				}
	#prev {
					left: -30px;
				}
	#next {
					right: -30px;
				}
	#donate-spacer {
					height: 100%;
				}
	#donate {
					border-top: 1px solid #999;
					width: 750px;
					padding: 50px 75px;
					margin: 0 auto;
					overflow: hidden;
				}
	#donate p, #donate form {
					margin: 0;
					float: left;
				}
	#donate p {
					width: 650px;
				}
	#donate form {
					width: 100px;
				}
.section6 .slide1 .right { width: 500px; height: 100%; background:rgba(40,8,10,0.5); position: absolute; left:0px; top:800px; float: right; z-index: -1; }
.section6 .slide1:hover .right {left:800px;  transition: all ease 1s; top:0px; }
.section6 .slide1 .right .tit{ width: 500px;height: 100px; display: block;margin-top: 130px; }
.section6 .slide1 .right .tit h2{ color: #ffffff; font-size: 40px; }
.section6 .slide1 .right .tit a{ border:1px solid #ffffff; width: 170px; height: 40px; display: block;
line-height: 40px; text-align: center; margin:30px 0px 0px 290px; font-size: 20px;text-decoration: none; border-radius: 50px;
color: #ffffff; }
.section6 .slide1 .right .tit:hover a{ font-size: 24px; cursor: pointer;}
.section6 .slide1 .right .box ul li{ font-size: 22px; color: #ffffff; padding-top: 20px; padding-right: 200px;}
.section6 .slide1 .right .box ul li:hover{ cursor: pointer;}
#box1{
			width: 573px;
			height: 378px;
			margin-top: 50px;
			margin-left: 100px;
			background:rgba(40,8,10,0.8);;
		}
		#box1 #content{
			width: 572px;
			height: 378px;

		}
		#box1 #content div{
			width: 572px;
			height: 256px;
			display: none;
		}
		#box1 #content .show{
			display: block;
		}
		#box1 #ag{
			width: 572px;
			height: 119px;
		}
		#box1 #ag li{
			width: 130px;
			height: 90px;
			display: block;
			float: left;
			margin-left:45px;
			margin-top: -69px;
			cursor: pointer;
		}
		#box1 #ag .one{ position: absolute; left: 800px; top:300px; font-size: 20px; color: #ffffff; opacity: 0; }
		#box1 #ag:hover .one{ left: 200px; transition: all ease 2s; opacity: 1;}
		#box1 #ag .two{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box1 #ag .therr{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box1 #ag li img{
			display: block;
			margin:0px auto;
		}
		#box1 #ag li p{
			font-size: 15px;
			color: #d76403;
			text-align: center;
		}
.section6 .slide2 .box2{ width: 500px; height: 100%; background:rgba(40,8,10,0.5); overflow: hidden; display: block;
margin-left: 70px; position: absolute; top:800px; }
.section6 .slide2:hover .box2{ top:0px;  transition: all ease 1s; }
.section6 .slide2 .box2 .tit{ width: 500px;height: 100px; display: block;margin-top: 130px; }
.section6 .slide2 .box2 .tit a{ border:1px solid #ffffff; width: 170px; height: 40px; display: block;
line-height: 40px; text-align: center; margin:30px 0px 0px 290px; font-size: 20px;text-decoration: none; border-radius: 50px;
color: #ffffff; }
.section6 .slide2 .box2 .tit h2{ color: #ffffff; font-size: 40px; }
.section6 .slide2 .box2 .box ul li{ font-size: 22px; color: #ffffff; padding-top: 20px; padding-right: 200px;}
.section6 .slide2 .left2{ display: block; margin-left: 620px; }
#box2{
			width: 573px;
			height: 378px;
			margin-top: 50px;
			margin-left: 100px;
			background:rgba(40,8,10,0.8);
		}
		#box2 #content1{
			width: 572px;
			height: 378px;

		}
		#box2 #content1 div{
			width: 572px;
			height: 256px;
			display: none;
		}
		#box2 #content1 .show{
			display: block;
		}
		#box2 #ag1{
			width: 572px;
			height: 119px;
		}
		#box2 #ag1 li{
			width: 130px;
			height: 90px;
			display: block;
			float: left;
			margin-left:45px;
			margin-top: -69px;
			cursor: pointer;
		}
		#box2 #ag1 .one{ position: absolute; left: 800px; top:300px; font-size: 20px; color: #ffffff; opacity: 0; }
		#box2 #ag1:hover .one{ left: 200px; transition: all ease 2s; opacity: 1;}
		#box2 #ag1 .two{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box2 #ag1 .therr{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box2 #ag1 li img{
			display: block;
			margin:0px auto;
		}
		#box2 #ag1 li p{
			font-size: 15px;
			color: #d76403;
			text-align: center;
		}
.section6 .slide3 .box3{ width: 500px; height: 100%; background:rgba(40,8,10,0.5);  display: block;
margin-left: 70px; position: absolute; bottom:800px; }
.section6 .slide3:hover .box3{ bottom:0px;  transition: all ease 1s; }
.section6 .slide3 .box3 .tit{ width: 500px;height: 100px; display: block;margin-top: 150px; }
.section6 .slide3 .box3 .tit a{ border:1px solid #ffffff; width: 170px; height: 40px; display: block;
line-height: 40px; text-align: center; margin:30px 0px 0px 290px; font-size: 20px;text-decoration: none; border-radius: 50px;
color: #ffffff; }
.section6 .slide3 .box3 .tit h2{ color: #ffffff; font-size: 40px; }
.section6 .slide3 .box3 .box ul li{ font-size: 22px; color: #ffffff; padding-top: 20px; padding-right: 200px;}
.section6 .slide3 .left2{ display: block; margin-left: 620px; }
 #box3{
			width: 573px;
			height: 378px;
			margin-top: 50px;
			margin-left: 100px;
			background:rgba(40,8,10,0.8);;
		}
		#box3 #content2{
			width: 572px;
			height: 378px;

		}
		#box3 #content2 div{
			width: 572px;
			height: 256px;
			display: none;
		}
		#box3 #content2 .show{
			display: block;
		}
		#box3 #ag2{
			width: 572px;
			height: 119px;
		}
		#box3 #ag2 li{
			width: 130px;
			height: 90px;
			display: block;
			float: left;
			margin-left:45px;
			margin-top: -69px;
			cursor: pointer;
		}
		#box3 #ag2 .one{ position: absolute; left: 800px; top:300px; font-size: 20px; color: #ffffff; opacity: 0; }
		#box3 #ag2:hover .one{ left: 200px; transition: all ease 2s; opacity: 1;}
		#box3 #ag2 .two{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box3 #ag2 .therr{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box3 #ag2 li img{
			display: block;
			margin:0px auto;
		}
		#box3 #ag2 li p{
			font-size: 15px;
			color: #d76403;
			text-align: center;
		} 
.section6 .slide4 .box4{ width: 500px; height: 100%; background:rgba(40,8,10,0.5); position: absolute; right:800px; bottom:900px; }
.section6 .slide4:hover .box4{right:70px;  transition: all ease 1s; bottom:0px; }
.section6 .slide4 .box4 .tit{ width: 500px;height: 100px; display: block;margin-top: 150px; }
.section6 .slide4 .box4 .tit a{ border:1px solid #ffffff; width: 170px; height: 40px; display: block;
line-height: 40px; text-align: center; margin:30px 0px 0px 290px; font-size: 20px;text-decoration: none; border-radius: 50px;
color: #ffffff; }
.section6 .slide4 .box4 .tit h2{ color: #ffffff; font-size: 40px; }
.section6 .slide4 .box4 .box ul li{ font-size: 22px; color: #ffffff; padding-top: 20px; padding-right: 200px;}
.section6 .slide4 .left3{ display: block; margin-left: 0px; }
 #box4{
			width: 573px;
			height: 378px;
			margin-top: 50px;
			margin-left: 100px;
			background:rgba(40,8,10,0.8);;
		}
		#box4 #content3{
			width: 572px;
			height: 378px;
		}
		#box4 #content3 div{
			width: 572px;
			height: 256px;
			display: none;
		}
		#box4 #content3 .show{
			display: block;
		}
		#box4 #ag3{
			width: 572px;
			height: 119px;
		}
		#box4 #ag3 li{
			width: 130px;
			height: 90px;
			display: block;
			float: left;
			margin-left:45px;
			margin-top: -69px;
			cursor: pointer;
		}
		#box4 #ag3 .one{ position: absolute; left: 800px; top:300px; font-size: 20px; color: #ffffff; opacity: 0; }
		#box4 #ag3:hover .one{ left: 200px; transition: all ease 2s; opacity: 1;}
		#box4 #ag3 .two{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box4 #ag3 .therr{ position: absolute; left: 800px; top:300px; font-size: 30px; color: #ffffff; opacity: 0; }
		#box4 #ag3 li img{
			display: block;
			margin:0px auto;
		}
		#box4 #ag3 li p{
			font-size: 15px;
			color: #d76403;
		}
